html, body {
    background-color: grey !important;
}

.social-links li {
    display: flex;
    align-items: center;
}

.social-links li a {
    display: flex;
    align-items: center;
    color: #1e3a8a;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.social-links li i {
    margin-right: 8px; /* Espacio entre icono y texto */
}
